.addDeposit {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--white-color);
  top: 100%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 15px;
  border: 1px solid var(--purple-color);
  z-index: 5;

  & .btnPanel {
    display: flex;
    gap: 10px;
    margin-top: 26px;
    width: 100%;

    & button {
      padding: 10px;
    }
  }
}