.subsoilObjectPopup {
  display: grid;
  grid-template-columns: 55% 45%;
  color: var(--dark-gray-color);
  margin-bottom: 5px;
  font-size: 10px;
  gap: 5px;


  & .title {
    font-weight: bold;
    white-space: nowrap;

  }

  & .content {
    align-self: end;
  }

  & a {
    color: var(--dark-gray-color);
    text-decoration: underline;

    &:hover {
      color: blue;
    }
  }
}