.inputPanel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  margin-top: 10px;



  & input {

    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--light-gray-color);
    cursor: pointer;
    color: black;

    &.error {
      color: var(--fail-color);
      border-color: var(--fail-color);
    }
  }

  & .info {
    height: 15px;
    width: 100%;
    text-align: center;
    color: var(--fail-color);
    font-size: 12px;
  }
}