.searchItem {
  border-bottom: var(--border-normal);
  padding: 20px 0;

  & .header {
    display: flex;
    gap: 20px;
    cursor: pointer;

    & svg {
      width: 12px;
      transform: rotate(90deg);
    }

    &:hover {
      color: var(--purple-color);

      & svg {
        path {
          stroke: var(--purple-color);
        }
      }
    }

    &.active {
      & svg {
        transform: rotate(180deg);
      }
    }
  }

  & .content {
    margin-top: 20px;

    & table {
      width: 100%;
      border-collapse: collapse;

      th, td {
        border: 1px solid var(--light-gray-color);
        padding: 8px 10px;
        font-weight: normal;
        font-size: 10px;
      }

      tbody {
        tr:first-child {
          background-color: #86cd9f;

          color: var(--white-color);
        }
      }
    }
  }
}


