@font-face {
  font-family: 'Lato Regular';
  src: url('./fonts/Lato-Regular.ttf');
}

:root {
  --white-color: #ffffff;
  --light-gray-color: #D3D3D3;
  --dark-gray-color: #808080;
  --black-color: #000000;

  --purple-color: #c8b5f2;
  --fail-color: #B22222;
  --success-color: #3CB371;

  --box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  --border-active: 1px solid #c8b5f2;
  --border-normal: 1px solid #D3D3D3;
}

body {
  font-family: 'Lato Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: var(--dark-gray-color);
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 10px 0;
}

a, a:link, a:visited, a:hover  {
  text-decoration: none;
  color: inherit;
}

img, svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

input, textarea, button, select, label {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  outline: 0;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}