.userPanel {
  margin: 50px calc(-1 * (90vw - 100%)) 0 300px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  min-height: 90vh;
  position: relative;
  overflow-x: hidden;

  & .header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-between;
    gap: 200px;

    & .user {
      display: flex;
      gap: 10px;
    }

    & .btnPanel {
      display: flex;
      gap: 10px;

      & button {
        width: 150px;
        padding: 5px;
      }
    }
  }

  & .title {
    margin: 10px 0;
  }

  & .historySearch {
    display: flex;
    flex-direction: column;
  }
}