.controlPanel {
  position: fixed;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 25px;
  margin-top: 85px;

  & .filterPanel {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & .title {
      font-weight: bold;
      margin: 10px 0;
    }

    & label {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }
  }

  & button {
    margin-top: 20px;
    padding: 5px;
  }
}