.addPanel {
  position: absolute;
  width: 40%;
  background-color: var(--white-color);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 15px;
  border: 1px solid var(--purple-color);

  & .btnPanel {
    display: flex;
    gap: 10px;
    margin-top: 26px;

    & button {
      padding: 10px;
      height: 38px;
    }
  }
}