.groupDeposit {

  & .title {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    margin: 5px 17px;

    & svg {
      width: 12px;
      transform: rotate(90deg);
    }

    &.active, &:hover {
      color: var(--purple-color);

      & svg {
        path {
          stroke: var(--purple-color);
        }
      }
    }

    &.active {
      & svg {
        transform: rotate(180deg);
      }
    }
  }

  & .contentGroup {
    display: grid;
    margin-left: 17px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);

    & .content {
      & div {
        border: 0.5px solid var(--light-gray-color);
        padding: 5px;
        min-height: 30px;
        white-space: nowrap;
      }
    }
  }
}



