.loading {
  position: absolute;
  z-index: 2;
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
  display: flex;
  align-items: center;
  gap: 15px;

  svg {
    width: 50px;
    animation: spin 10s linear infinite;  }
    path {
      stroke: var(--dark-gray-color);
    }

  @keyframes spin {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

.searchPanel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  background-color: var(--white-color);
  height: 100vh;
  padding: 15px 20px;
  font-size: 12px;
  max-width: 250px;
  min-width: 250px;
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;

  & .propertiesPanel {

    & .title {
      font-weight: bold;
      margin: 10px 0;
    }

    & .content {
      display: grid;
      grid-template-columns: 60% 40%;
      gap: 0;
      color: rgba(0, 0, 0, 0.7);

      & div {
        border: 0.2px solid var(--light-gray-color);
        padding: 5px;
      }
    }
  }

  & .btnPanel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;

    & button {
      padding: 8px;
      color: var(--black-color);
    }
  }
}