.btn {
  width: 100%;
  border-radius: 5px;
  padding: 15px 10px;
  cursor: pointer;
  opacity: 1;

  &.dark {
    background-color: var(--purple-color);
    border-color: var(--white-color);
    color: var(--white-color);

    &:hover {
      box-shadow: var(--box-shadow);
    }
  }

  &.light {
    background-color: var(--white-color);
    color: var(--dark-gray-color);
    border: var(--border-normal);

    &:hover {
      border-color: var(--purple-color);
      color: var(--purple-color);
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;

    &.light {

      &:hover {
        border-color: var(--light-gray-color);
        color: var(--dark-gray-color);
      }
    }

    &.dark {
      &:hover {
        box-shadow: none;
      }
    }
  }
}




