.group {
  margin: 10px 0;

  & .title {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 7px;

    & svg {
      width: 12px;
      transform: rotate(90deg);
    }

    &.active, &:hover {
      color: var(--purple-color);

      & svg {
        path {
          stroke: var(--purple-color);
        }
      }
    }

    &.active {
      & svg {
        transform: rotate(180deg);
      }
    }
  }

  & .groupContent {
    padding: 7px;
    border-top: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & .content {
      margin-left: 17px;
      display: flex;
      gap: 5px;
    }

    & button {
      width: 150px;
      border: none;
    }
  }
}