.loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: var(--dark-gray-color);
  height: 400px;
  transition: 1s;

  & .loginMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    & .signIn {
      width: 150px;
    }

    & .signUp {
      width: 220px;
    }

    & .signIn, .signUp {
      border-bottom: 1px solid;
      padding-bottom: 8px;
      cursor: pointer;
      text-align: center;

      &.active, &:hover, &:focus {
        color: var(--purple-color);
        border-color: var(--purple-color);
      }
    }
  }

  & .signInPanel, & .signUpPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
