.passwordPanel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 30px;
  width: 400px;
  background-color: var(--white-color);

  .closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    cursor: pointer;
  }
}