.homePage {
  display: flex;
  flex-direction: column;
  margin: 50px 350px 0;
  gap: 30px;

  & .homePagePanel {
    display: flex;
    flex-direction: row;
    gap: 50px;

    & .homePageInfo {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .title {
        font-size: 28px;
        font-weight: bold;
        margin: 10px 0;
      }

      & button {
        width: 200px;
        padding: 10px;
      }
    }
    & img {
      width: 190px;
    }
  }

  & .slider {
    position: relative;

    & .buttonLeft, & .buttonRight {
      position: absolute;
      top: 22%;
      z-index: 1;

      & svg {
        width: 20px;
      }
    }

    & .buttonLeft {
      left: -5%;
    }

    & .buttonRight {
      right: -5%;
    }

    & .slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      width: 100%;

      & .title {
        font-size: 20px;
      }
    }
  }
}
