@mixin position-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

@mixin active {
  &.located, &:hover {
    color: var(--purple-color);
    transition: 0.2s;
    svg {
      path {
        stroke: var(--purple-color);
        transition: 0.2s;
      }
    }
  }
}

@mixin closed {
  &.closed {
    & div {
      display: none;
    }
  }
}

.sidebar {
  @include position-items;
  flex-direction: column;
  justify-content: flex-start;
  width: 220px;
  height: 100%;
  padding: 30px 0;
  white-space: nowrap;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--white-color);
  z-index: 4;

  & .logo {
    @include position-items;
    @include active;
    @include closed;
    margin-bottom: 15px;

    & img {
      width: 50px;
    }
  }

  & .navigation {
    @include position-items;
    flex-direction: column;
    align-items: flex-start;

    & .navigationItem {
      @include position-items;
      @include active;
      @include closed;
      cursor: pointer;
      gap: 10px;

      & svg {
        width: 30px;
      }
    }
  }

  & .closeBtn {
    @include position-items;
    @include active;
    @include closed;
    margin-top: 100px;
    padding: 10px;
    cursor: pointer;

    & svg {
      width: 20px;
    }

    &.closed {
      border-radius: 30px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
      svg {
        transform: rotate(90deg);
      }
    }
  }

  &.closed {
    width: 70px;
    border-radius: 50px;
    margin-left: 20px;
    transition: 0.5s;
  }
}

