.fieldsPage {
  margin: 50px 250px 0 ;
  position: relative;

  & .tabPanel {
    display: flex;
  }

  & .fieldsPanel {
    border: var(--border-normal);
    border-radius: 0 15px 0;
    padding: 10px 20px;

    & .group {
      border-bottom: var(--border-normal);
    }

    & .btnPanel {
      display: flex;
      justify-content: center;

      & button {
        width: 200px;
        margin: 20px 0;
        border: 0;
      }
    }
  }
}

