.tab {
  border: var(--border-normal);
  padding: 10px;
  cursor: pointer;
  width: 250px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  border-bottom: 0;

  &:hover, &.open {
    color: var(--purple-color);
  }
}