.notFoundPage {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 50px;
  align-items: center;

  & .notFoundInfo {
    font-size: 36px;
  }

  & a {
    font-size: 20px;

    &:hover {
      color: var(--purple-color);
    }
  }

}