.resultPanel {
  position: absolute;
  z-index: 3;
  background-color: var(--white-color);
  width: 100%;
  top: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;

  & .resultObjects {
    margin: 0 270px 0 250px;
    height: 100%;

    & caption {
      padding: 15px 15px 15px 0;
      font-weight: bold;
      text-align: left;
    }

    & table {
      width: 100%;
      border-collapse: collapse;

      & th, td {
        border: 1px solid var(--light-gray-color);
        padding: 8px 10px;
        font-weight: normal;
        font-size: 10px;
      }

      & tbody {
        overflow-y: scroll;
      }
    }
  }
}