.userFieldsPanel {
  border-radius: 0 15px 15px 15px ;
  border: var(--border-normal);
  padding: 10px 20px 500px;

    & .userField {
      width: 100%;
      border-bottom: var(--border-normal);
      position: relative;

      & .btnPanel {
        position: absolute;
        top: 0;
        right: 0;

        & button {
          padding: 5px;
          width: 120px;
          margin-right: 5px;
        }
      }
    }

  & .addBtn {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;

    & button {
      padding: 7px;
      border: 0;
      width: 200px;
    }
  }
}